.container{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

button{
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 350px;
    
}